/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    /* border: 2px solid lime; */
    font-size: 14px;
    font-family: 'Raleway',Courier New, Courier, monospace;
    font-weight: 400;

    /* Primary-Colors */
    --primaryColor1: hsl(6, 100%, 80%);
    --primaryColor2: hsl(335, 100%, 65%);

    /* Neutral-Colors */
    --paleBlue: hsl(243, 100%, 93%);
    --grayishBlue: hsl(229, 7%, 55%);
    --darkBlue: hsl(228, 56%, 26%);
    --verydarkBlue: hsl(229, 57%, 11%);

    /* Mengatur Tinggi & Lebar Element Body */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* Mengatur Posisi Content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

main {
    /* border: 2px solid coral; */
    display: flex;
    flex-direction: column;
}
main #navbar {
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 35px 25px;
    border-top-right-radius: 90px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main #navbar .logo {
    margin-bottom: 15px;
}
main #navbar .nav-links {
    margin-top: 15px;
    display: flex;
}
main #navbar .nav-links .links {
    background-color: var(--verydarkBlue);
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main #data-box {
    /* border: 2px solid blue; */
    margin-top: 20px;
    height: auto;
}
main #data-box .data {
    /* border: 2px solid crimson; */
    border-radius: 10px;
    background-color: var(--darkBlue);
    width: 280px;
    padding: 30px 10px;
    text-align: center;
}
main #data-box .data .data-bar {
    padding: 10px 0;
}
main #data-box .data .data-bar .bar-parent {
    border: 2px solid var(--verydarkBlue);
    background-color: var(--verydarkBlue);
    border-radius: 10px;
    margin: 10px 0;
    height: 10px;
}
main #data-box .data .data-bar .bar-parent .bar-child {
    border-radius: 10px;
    width: 75%;
    height: 10px;
    background: linear-gradient(45deg, var(--primaryColor1), var(--primaryColor2));
    position: relative;
    z-index: 1;
}
main #data-box .data .data-bar .bar-parent .bar-child::before {
    content: '';
    border-radius: 50%;
    background-color: white;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 95%;
    z-index: 2;
}
main #data-box .data .data-bar .bar-desc {
    display: flex;
    justify-content: space-between;
}
main #data-box .data-left {
    border-radius: 7px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 35px;
    margin: 0 auto;
    padding: 7px;
    width: 130px;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    bottom: 14%;
}
main #data-box .data-left span {
    font-weight: 400;
    font-size: small;
}

.attribution {
    position: absolute;
    bottom: 20px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 965px) {
    body {
        flex-direction: row;

        background-color: var(--verydarkBlue);
        background-image: url(../images/bg-desktop.png);
        background-attachment: fixed;
        background-position: center 135%;
        background-size: 100%;
    }

    main {
        flex-direction: row;
        align-items: flex-end;
    }
    main #navbar {
        width: 300px;
        margin: 0 15px;
    }

    main #data-box {
        margin: 0 15px;
        position: relative;
    }
    main #data-box .data {
        width: 500px;
        padding: 30px 20px;
        text-align: left;
    }
    main #data-box .data .data-bar .bar-parent .bar-child::before {
        left: 98%;
    }
    main #data-box .data-left {
        position: absolute;
        right: 6%;
        bottom: 85%;
        z-index: 1;
    }
    main #data-box .data-left::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 24px solid white;
        border-top: 12px solid white;
        border-bottom: 24px solid transparent;
        position: absolute;
        top: 65%;
        left: 75%;
        z-index: -1;
    }
}